* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #fff;
    color: white;
    font-family: helvetica;
    /* cursor: none; */
}

.main {
    background-color: #fff;
    overflow: hidden;
}

nav {
    height: 12vh;
    width: 100%;
    background-color: #111;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 4vw;
    z-index: 10;
}

nav .logo svg {
    padding: 1vw 0vw;
    width: 8vw;
}

nav .service {
    display: flex;
    gap: 1.5vw;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1vw;
    z-index: 10;
    position: relative;
}

nav .service h4:hover,
nav .service h5:hover {
    color: rgb(65, 65, 65);
}

nav h4 {
    margin-bottom: 2vw;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 0.9vw;
}

.service h5 {
    margin-bottom: 1vw;
    text-transform: capitalize;
    /* background-color: rebeccapurple; */
    display: none;
    overflow: hidden;
}

.service h5 span {
    font-weight: 350;
    font-size: 0.8vw;
    /* transform: translateY(25px); */
    display: inline-block;
    /* position: absolute; */
}

nav a {
    text-decoration: none;
    color: white;
}

nav .contect {
    position: relative;
    padding-inline-start: 1vw;
    border-radius: 50px;
    overflow: hidden;
    /* background-color: #0CA34E; */
    display: flex;
    align-items: center;

}

nav .contect .over {
    position: absolute;
    border-radius: 50px;
    top: 0%;
    left: 0%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #0CA34E;
}

nav .contect h4 {
    margin: 0;
    font-size: 0.9vw;
    font-weight: 500;
}

nav .contect svg {
    margin-left: 1vw;
    height: 3vw;
    width: 3vw;
    background: #0CA34E;
    border-radius: 50%;
}

nav .nav_bottom {
    height: 0vh;
    position: absolute;
    background-color: #111;
    z-index: 9;
    width: 92%;
    top: 100%;
    border-bottom: 1px solid gray;
    transition: 0.5s cubic-bezier(0.7, 0, 0.84, 0);
}

@media (max-width: 900px) {
    nav {
        height: 10vh;
    }
    
    nav .logo svg {
        width: 15vw;
    }
    
    nav .service {
        display: none;
    }
    
    nav .contect {
        padding-inline-start: 2vw;    
    }
    
    nav .contect h4 {
        font-size: 1.2vw;
        font-weight: 600;
    }
    
    nav .contect svg {
        height: 4vw;
        width: 4vw;
    }
    
    nav .nav_bottom {
        display: none;
    }
}

@media (max-width: 550px) {
    nav {
        height: 8vh;
    }
    nav .logo svg {
        width: 20vh;
    }
    nav .contect {
        padding-inline-start: 0vw;    
    }
    nav .contect h4 {
        display: none;
    }
    nav .contect svg {
        margin-left: 0;
        height: 9vw;
        width: 9vw;
    }
}


.home {
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: #0CA34E; */
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .head_text {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 9vw;
    line-height: 9vw;
    letter-spacing: -8px;

}



.home h1 svg {
    height: 6vw;
    width: 6vw;
    background: #0CA34E;
    border-radius: 50%;
}

/* .home h1 svg:hover{
    scale: 0.8;
    rotate: -30deg;
    transition:  0.5s cubic-bezier(0.76, 0, 0.24, 1);
} */

.home p {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 1.5vw;
}

.home .highlight_text {
    margin-top: 0.8vw;
}

.home .highlight_text .h_text {
    padding-inline: 1.3vw;
    padding-block: .5vw;
    border-radius: 50px;
    border: 1px solid gray;
}

.home .moving-div {
    /* background-color: red; */
    width: 50%;
    position: absolute;
    bottom: 7%;
    padding: 3vw 0vw;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.moving-div .move {
    display: inline-block;
    animation: marquee 10s linear infinite;
}

.moving-div .move img {
    height: 1.5vw;
    margin: 0vw 1.2vw;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.blur-left {
    height: 100%;
    width: 10%;
    background: linear-gradient(to right, #111, transparent);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.blur-right {
    height: 100%;
    width: 10%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
}

@media (max-width: 900px) {
    .home {
        align-items: start;
    }
    
    .home .head_text {
        letter-spacing: -4px;
        font-size: 10vw;
    } 

    .home h1 svg {
        height: 6.5vw;
        width: 6.5vw;
    }
    
    .home p {
        text-align: start;
        font-size: 2vw;
        font-weight: 400;
        line-height: 2vw;
    }
    
    .home .highlight_text {
        margin-top: 1.2vw;
    }

    .home .moving-div {
        width: 100%;
    }
    
    .moving-div .move img {
        height: 2.5vw;
        margin: 0vw 1.6vw;
    }
    
    
    .blur-left {
        width: 15%;
    }
    
    .blur-right {
        width: 15%;
    }
    
}

@media (max-width: 550px) {
    .home .head_text {
        padding-right: 30%;
        font-size: 15vw;
        line-height: 14vw;
    } 

    .home h1 svg {
        height: 10vw;
        width: 10vw;
    }
    
    .home p {
        padding-right: 30%;
        font-size: 4vw;
        font-weight: 300;
        line-height: 4vw;
    }
    
    .home .highlight_text {
        line-height: 9vw;
        padding-right: 35%;
        font-size: 3vw;
    }

    .home .highlight_text .h_text {
        text-transform: capitalize;
        /* padding-inline: 4vw;
        padding-block: 2vw; */
        padding: 2vw 4vw;
    }
    
    .moving-div .move img {
        height: 6vw;
        margin: 0vw 2vw;
    }
    .blur-left {
        width: 20%;
    }
    .blur-right {
        width: 20%;
    }
}


.intro {
    height: 80vh;
    width: 100vw;
    /* background:red; */
    background-color: #111;
    position: relative;
    display: flex;
    padding: 0vw 4vw;
}

.intro-left {
    height: 100%;
    width: 50%;
    /* background-color: #0CA34E; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding: 1.5vw 0vw;
}

.secon_text {
    font-size: 0.85vw;
    font-weight: 400;
}

.primary_text {
    padding-bottom: 67px;
    padding-right: 18vw;
    font-size: 1.3vw;
    font-weight: 300;
}

.intro-right {
    height: 100%;
    width: 50%;
    cursor: none;
    /* background-color: #9ec8b0; */
}

.elem_conte {
    height: 25%;
    width: 100%;
    position: relative;
    border-top: 1px solid gray;
    display: flex;
    transition: all ease 0.2s;
}

.elem_conte:hover {
    border-top: 1.2px solid rgb(255, 253, 253);
}

.main_text {
    padding: 1.5vw 0vw;
    width: 70%;
    font-size: 1.6vw;
    font-weight: 350;
}

.elem_conte h1 {
    margin-right: 2vw;
}

.elem_conte .time {
    padding: 2vw 0vw;
    gap: 1vw;
    height: 2vw;
    /* background: #0CA34E; */
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.elem_conte p {
    color: rgb(93, 92, 92);
}

.elem_icon {
    position: relative;
    height: 2vw;
    width: 2vw;
    /* background-color: #0CA34E; */
    overflow: hidden;
}

.aimationicon1 {
    position: absolute;
}

.aimationicon2 {
    position: absolute;
    top: 50%;
    right: 50%;
    opacity: 0;
}

.time i {
    color: white;
    height: 2vw;
    width: 2vw;
    /* background-color: #0CA34E; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.elem_conte img {
    position: absolute;
    height: 6vw;
    width: 6vw;
    background-position: center;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    z-index: 9;
}

@media (max-width: 900px) {
    .intro {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .intro-left {
        height: 20%;
        width: 100%;
        padding: 2vw 0vw;
    }
    
    .secon_text {
        font-size: 1.5vw;
        font-weight: 300;
    }
    
    .primary_text {
        padding-bottom: 20px;
        padding-right: 0vw;
        font-size: 1.8vw;
        font-weight: 300;
    }
    
    .intro-right {
        height: 80%;
        width: 100%;
        /* background-color: #9ec8b0; */
    }
    
    .main_text {
        padding: 2vw 6vw;
        width: 70%;
        font-size: 3vw;
        font-weight: 400;
    }
    
    .elem_conte h1 {
        margin-right: 0vw;
    }
    
    .elem_conte .time {
        padding: 3vw 0vw;
        gap: 2vw;
    }
    
}

@media (max-width: 550px) {
    .intro {
        height: 120vh ;
    }
    
    .intro-left {
        height: 30%;
        width: 100%;
        padding: 4vw 0vw;
    }
    
    .secon_text {
        font-size: 3vw;
        font-weight: 300;
    }
    
    .primary_text {
        padding-bottom: 20px;
        padding-right: 0vw;
        font-size: 3.5vw;
        font-weight: 300;
    }
    
    .intro-right {
        height: 70%;
        width: 100%;
        /* background-color: #9ec8b0; */
    }

    .elem_conte{
        height: auto;
        flex-direction: column;
    }
    
    .main_text {
        padding: 5vw 3vw;
        width: 70%;
        font-size: 4vw;
        font-weight: 400;
    }
    
    .elem_conte .time {
        width: 100%;
        padding: 5vw 3vw;
        justify-content: space-between;
        gap: 2vw;
    }

    .elem_icon {
        height: 5vw;
        width: 5vw;
    }

    .time i {
        height: 5vw;
        width: 5vw;
        font-size: 3.5vw;
    }

    .elem_conte img {
        
        height: 18vw;
        width: 18vw;
    }
}

.videodiv {
    height: 90vh;
    width: 100vw;
    background-image: url(./images/videopage.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.videodiv video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 99999;
}

.videodiv .playbutton {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playbutton .icon {
    padding: 3vw;
    background-color: #fff;
    border-radius: 50%;

}

.playbutton i {
    color: #000;
    font-size: 3vw;
}

.playbutton h4 {
    text-transform: uppercase;
    font-size: 0.8vw;
    background-color: white;
    color: black;
    padding: 0.5vw 1vw;
    border-radius: 50px;
    transform: translateY(20%);
    opacity: 0;
    transition: 0.5s cubic-bezier(0.7, 0, 0.84, 0);
}

.playbutton:hover h4 {
    margin-top: 0.2vw;
    opacity: 1;
    transform: translateY(0%);
}

.information_com {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 10vw 4vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
}

.com_info {
    display: flex;
    justify-content: space-between;
    gap: 15vw;
}

.com_info_left {
    height: 100%;
    width: 30%;
    /* background-color: #0CA34E; */
}

.head_bold_text {
    font-size: 3.35vw;
    letter-spacing: -1px;
}

.com_info_right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.info_secon_text {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 400;
    color: #a3a3a3;
}

.info_main_text {
    margin: 2.5vw 0vw;
    font-size: 1.6vw;
    font-weight: 450;
}

.number_info {
    margin-top: 4vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
}

.item {
    background-color: #F5F5F5;
    padding: 2vw;
}

.item_head {
    font-size: 4.8vw;
    font-weight: 350;
    letter-spacing: -1px;
}

.item_info {
    margin-top: 1vw;
    font-size: 1vw;
    font-weight: 400;
    color: #111;
}

.item_number {
    margin-top: 7vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: #666;
}

.general {
    padding-left: 30%;
    margin-top: 10vw;
    margin-bottom: 5vw;
    /* height: 50vh; */
    width: 100%;
    position: relative;
    display: flex;
    /* background-color: #0CA34E; */
}

.float_text {
    font-size: 0.85vw;
    font-weight: 400;
    color: #666;
    width: 30%;
    height: 10%;
    position: absolute;
    /* background-color: #0CA34E; */
}

.general_text {
    font-size: 2.4vw;
    font-weight: 350;
}

.general_text span {
    width: 30%;
    display: inline-block;
}

.casestudy {
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    gap: 5vw;
    flex-direction: column;
}

.studey_container {
    width: 100%;
    display: flex;
    gap: 4vw;
}

.case_left {
    position: relative;
    border-top: 1px solid rgb(189, 188, 188);
    padding: 1.5vw 0vw;
    width: 30%;
}

.case_left:hover {
    border-top: 1.5px solid black;
    transition: 0.2s cubic-bezier(0.7, 0, 0.84, 0);
}

.case_heading {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5vw;
}

.case_heading>h1 {
    font-size: 4vw;
    font-weight: 400;
}

.case_aww {
    margin-bottom: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case_aww img {
    height: 1vw;
}

.case_info {
    margin-top: 5vw;
    font-size: 1.4vw;
}

.case_icon {
    position: relative;
    height: 2vw;
    width: 2vw;
    font-size: 2.5vw;
    overflow: hidden;
}

.case1 {
    position: absolute;
}

.case2 {
    position: absolute;
    top: 50%;
    right: 50%;
    opacity: 0;
}

.case_right {
    position: relative;
    height: 60vh;
    width: 70%;
    background-color: #bcdecb;
    overflow: hidden;
}

.case_right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
}

.case_right video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    opacity: 0;
    transition: 0.2s cubic-bezier(0.7, 0, 0.84, 0);
}

.case_button {
    bottom: 1%;
    /* width: 70%;
    margin-top: 20vw; */
    position: absolute;
    padding: 0.5vw 1vw;
    background-color: #4f5bff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    color: white;
}

.case_button>p {
    font-weight: 600;
    font-size: 0.8vw;
    text-transform: uppercase;
}

.case_button_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2vw;
    width: 2vw;
    font-size: 1.5vw;
    overflow: hidden;
}

.case_button1 {
    position: absolute;
}

.case_button2 {
    position: absolute;
    top: 50%;
    right: 50%;
    opacity: 0;
}

.none_left {
    position: relative;
    padding: 1.5vw 0vw;
    width: 30%;
}

.none_right {
    height: 70vh;
    width: 70%;
    /* background-color: #bcdecb; */
    display: flex;
    gap: 2vw;

}

.small {
    width: 50%;
    height: 100%;
    border-top: 1px solid rgb(189, 188, 188);
    padding: 1.5vw 0vw;
    /* background-color: #0CA34E; */
}

.small_heading {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vw;
}

.small_heading h1 {
    font-size: 2.5vw;
    font-weight: 400;
}

.small_heading i {
    font-size: 1.8vw;
}

.small_heading>.case_icon {
    position: relative;
    height: 2vw;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    overflow: hidden;
}

.case1 {
    position: absolute;
}

.case2 {
    position: absolute;
    top: 50%;
    right: 50%;
    opacity: 0;
}

.small .bottom {
    margin-top: 3vw;
    transition: 0.2s cubic-bezier(0.7, 0, 0.84, 0);
}


.bottom>P {
    font-size: 1.5vw;
}

.bottom>.case_aww {
    width: 70%;
}

.sight {
    width: 50%;
    height: 100%;
    border-top: 1px solid rgb(189, 188, 188);
    padding: 1.5vw 0vw;
    /* background-color: #6a927b; */
}

.small:hover,
.sight:hover {
    border-top: 1px solid rgb(0, 0, 0);
}

.image_video {
    margin-top: 3vw;
    height: 30vh;
    width: 100%;
    position: relative;
    /* background-color: #062212; */
    transition: 1s cubic-bezier(0.7, 0, 0.84, 0);
}

.image_video img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-position: center;
    object-fit: cover;
}

.image_video video {
    border-radius: 20px;
    transition: 1s cubic-bezier(0.7, 0, 0.84, 0);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 170%;
    width: 100%;
    background-position: center;
    object-fit: cover;
}

@media (max-width: 900px) {

    .videodiv {
        height: 60vh;

    }
    
    .playbutton i {
        font-size: 6vw;
    }
    
    .playbutton h4 {
        font-size: 1.3vw;
    }
    
    .com_info {
        flex-direction: column;
        gap: 5vw;
    }
    
    .com_info_left {
        height: 30%;
        width: 100%;
    }
    
    .head_bold_text {
        font-size: 5vw;
        letter-spacing: -1px;
    }
    
    .com_info_right {
        height: 70%;
        width: 100%;
    }
    
    .info_secon_text {
        font-size: 1.5vw;
    }
    
    .info_main_text {
        margin: 3vw 0vw;
        font-size: 2.5vw;
        font-weight: 450;
    }
    
    .number_info {
        margin-top: 5vw;
    }
    
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .item_head {
        font-size: 6vw;
    }
    
    .item_info {
        margin-top: 2vw;
        font-size: 2vw;
    }
    
    .item_number {
        font-size: 2.6vw;
    }

    .general {
        padding-left: 0;
        margin-top: 6%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .float_text {
        font-size: 1.8vw;
        font-weight: 400;
        color: #666;
        position: initial;
    }
    
    .general_text {
        margin-top: 3%;
        font-size: 3vw;
        font-weight: 350;
    }
    
    .general_text span {
        width: 0%;
    }
    
    .studey_container {
        display: flex;
        flex-direction: column;
    }
    
    .case_left {
        padding: 5vw 0vw;
        width: 100%;
    }
    
    .case_heading>h1 {
        font-size: 3.5vw;
        font-weight: 400;
    }
    
    .case_aww {
        width: 50%;
        margin-bottom: 2vw;
    }
    
    .case_aww img {
        height: 2vw;
    }
    
    .case_info {
        margin-top: 2vw;
        font-size: 1.5vw;
    }
    
    .case_icon {
        position: relative;
        height: 4vw;
        width: 4vw;
        font-size: 3vw;
        overflow: hidden;
    }
    
    .case_right {
        width: 100%;
    }
    
    .case_button {
        display: none;
    }
    
    .none_left {
        position: relative;
        padding: 0vw 0vw;
        width: 100%;
    }
    
    .none_right {
        height: 70vh;
        width: 100%;
        /* background-color: #bcdecb; */
        display: flex;
        gap: 2vw;
    
    }
    
    .small {
        width: 50%;
        height: 100%;
        border-top: 1px solid rgb(189, 188, 188);
        padding: 1.5vw 0vw;
        /* background-color: #0CA34E; */
    }
        
    .small_heading {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1vw;
    }
    
    .small_heading h1 {
        font-size: 3.5vw;
        font-weight: 400;
    }
    
    .small_heading i {
        font-size: 1.8vw;
    }
     
    .bottom>P {
        font-size: 1.5vw;
    }
}

@media (max-width: 550px) {

    .videodiv {
        height: 50vh;

    }
    
    .playbutton i {
        font-size: 7vw;
    }
    
    .playbutton h4 {
        font-size: 2vw;
    }
    
    .com_info_left {
        height: 30%;
        width: 100%;
    }
    
    .head_bold_text {
        font-size: 5vw;
        letter-spacing: -1px;
    }
    
    .case_heading>h1 {
        font-size: 6vw;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    
    
    .case_aww {
        margin-top: 2vw;
        width: 70%;
        margin-bottom: 2vw;
    }
    
    .case_aww img {
        height: 3vw;
    }
    
    .case_info {
        margin-top: 2vw;
        font-size: 3vw;
    }
    
    .case_icon {
        height: 6vw;
        width: 6vw;
        font-size: 5vw;
    }

    .none_right {
        height: 100vh;
        width: 100%;
        /* background-color: #bcdecb; */
        display: flex;
        flex-direction: column;
        gap: 2vw;
    
    }
    
    .small {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgb(189, 188, 188);
        padding: 1.5vw 0vw;
    }
    
    .small_heading {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2vw;
    }
    
    .small_heading h1 {
        font-size: 6vw;
        font-weight: 400;
    }
    
    .small_heading i {
        font-size: 3vw;
    }
     
    .bottom>P {
        font-size: 3vw;
    }
}

.digitaloffers {
    height: 50vh;
    width: 100%;
    padding: 5vw;
    background-color: #111;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitaloffers>h1 {
    font-size: 5vw;
    line-height: 4.8vw;
}

@media (max-width: 900px) {
    .digitaloffers {
        padding: 3vw;
    }
    
    .digitaloffers>h1 {
        font-size: 6vw;
        line-height: 6vw;
    }

}

@media (max-width: 550px) {
    .digitaloffers {
        padding: 2vw;
    }
    
    .digitaloffers>h1 {
        font-size: 8vw;
        line-height: 8vw;
    }
    
}

.client_service {
    min-height: 50vh;
    width: 100%;
    background-color: #111;
    display: flex;
    padding-inline: 4vw;
    padding-top: 5vw;
    padding-bottom: 10vw;
    border-bottom: 1px solid gray;
}

.service_left {
    height: 100%;
    width: 25%;
}

.series_button {
    bottom: 1%;
    width: 70%;
    margin-top: 1vw;
    /* position: absolute; */
    padding: 0.5vw 1vw;
    background-color: #4f5bff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    color: white;
}

.series_button>p {
    font-weight: 600;
    font-size: 0.8vw;
    text-transform: uppercase;
}

.service_right {
    height: 100%;
    width: 75%;
}



.uiux {
    margin-top: 5vw;
    padding: 1.5vw 0vw;
    /* height: 80vh; */
    height: 20vh;
    overflow: hidden;
    /* background-color: #0CA34E; */
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    transition: 0.5s cubic-bezier(0.7, 0, 0.84, 0);
}

.uiux_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uiux_heading i {
    font-size: 1.5vw;
}

.uiux_heading h1 {
    font-size: 3.5vw;
    letter-spacing: -1px;
}

.uiux_info {
    display: flex;
}

.uiux_info>h4 {
    font-size: 0.8vw;
    font-weight: 300;
    padding-inline: 1.3vw;
    padding-block: .5vw;
    border-radius: 50px;
    border: 1px solid gray;
    margin-top: 1.5vw;
}

.infromation_details {
    width: 100%;
    margin-top: 3vw;
}

.ui_info_con {
    transition: 0.5s cubic-bezier(0.7, 0, 0.84, 0);
    opacity: 0;
    overflow: hidden;
    position: relative;
    border-top: 1px solid gray;
    /* padding: 3vw 0vw; */
    padding-top: 2vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
}

.ui_info_con:hover {
    border-top: 1.5px solid rgb(255, 255, 255);
}

.con_left {
    display: flex;
    width: 90%;
}

.con_left>h1 {
    z-index: 1;
    width: 30%;
    font-weight: 400;
    /* font-size: 1vw; */
}

.con_left>h4 {
    z-index: 1;
    font-weight: 300;
    width: 70%;
    font-size: 1vw;
}

.ui_info_con>.overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303030;
}

@media (max-width: 900px) {
    .client_service {
        flex-direction: column;
    }
    
    .service_left {
        height: 0%;
        width: 100%;
    }
    
    .series_button {
        display: none;
    }
    
    .service_right {
        height: 100%;
        width: 100%;
    }
    
    .uiux_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .uiux_heading i {
        font-size: 3vw;
    }
    
    .uiux_heading h1 {
        font-size: 4vw;
    }
    
    .uiux_info>h4 {
        font-size: 1.3vw;
    }
    
    .infromation_details {
        width: 100%;
        margin-top: 3vw;
    }

    .ui_info_con {
        margin-top: 7vw;
        /* padding: 3vw 0vw; */
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .con_left {
        display: flex;
        width: 90%;
    }
    
    .con_left>h1 {
        z-index: 1;
        width: 30%;
        font-weight: 400;
        font-size: 2.5vw;
    }
    
    .con_left>h4 {
        z-index: 1;
        font-weight: 300;
        width: 70%;
        font-size: 2vw;
    }
    
    .ui_info_con>.overlay {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #303030;
    }
}

@media (max-width: 550px) {
    .client_service {
        flex-direction: column;
    }
    
    .service_left {
        height: 0%;
        width: 100%;
    }
    
    .series_button {
        display: none;
    }
    
    .service_right {
        height: 100%;
        width: 100%;
    }
    
    .uiux_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .uiux_heading i {
        font-size: 3vw;
    }
    
    .uiux_heading h1 {
        font-size: 4vw;
    }
    
    .uiux_info>h4 {
        font-size: 1.3vw;
    }
    
    .infromation_details {
        width: 100%;
        margin-top: 3vw;
    }

    .ui_info_con {
        margin-top: 7vw;
        /* padding: 3vw 0vw; */
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .con_left {
        display: flex;
        width: 90%;
    }
    
    .con_left>h1 {
        z-index: 1;
        width: 30%;
        font-weight: 400;
        font-size: 3vw;
    }
    
    .con_left>h4 {
        z-index: 1;
        font-weight: 300;
        width: 70%;
        font-size: 3vw;
    }
    
    .ui_info_con>.overlay {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #303030;
    }
}

footer {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
}

footer img {
    height: 100%;
    width: 100%;
    background-position: center;
    object-fit: cover;
}

.f_text {
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 10%;
}

.f_text h1 {
    font-size: 8vw;
    line-height: 7.8vw;
}

.f_text h1 svg {
    height: 6vw;
}

.b_f_text {
    text-transform: uppercase;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.b_f_text h1 {
    font-size: 4vw;
}

.f_icon {
    position: absolute;
    top: 10%;
    right: 10%;
}

.f_icon .fix_icone_div {
    position: relative;
}

.f_icon svg {
    height: 5vw;
}

.f_icon .icon2 {
    rotate: 270deg;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
@media (max-width: 900px) {
    footer {
        height: 80vh;     
    }
    
}

@media (max-width: 550px) {
    footer {
        height: 40vh;     
    }
}